<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuejs CRUD</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <!-- <link rel="stylesheet" href="fontawesome.css"> -->
    <style>
        #overlay{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.6);
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row bg-dark">
                <div class="col-lg-12">
                    <p class="text-center text-light display-5 pt-2" style="font-size: 2.2rem;">FORM APPLICATION</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mt-3">
                <div class="col-md-3 col-sm-12">
                    <h3 class="text-info">Registered Users</h3>
                </div>
                <div class="col-md-3 col-sm-12">
                    <a class="btn btn-success font-weight-bold" href="excel.php">
                        <i class="fas fa-download"></i>&nbsp; &nbsp;Export To EXCEL(.xlsx)
                    </a>
                </div>
                <div class="col-md-3 col-sm-12">
                    <a class="btn btn-danger font-weight-bold" href="fpdf.php">
                        <i class="fas fa-download"></i>&nbsp; &nbsp;Export To PDF
                    </a>
                </div>
                <div class="col-md-3 col-sm-12">
                    <button class="btn btn-info float-right" @click="showModal=true">
                        <i class="fas fa-user"></i>&nbsp; &nbsp;Add New User
                    </button>
                </div>
            </div>
            <hr class="bg-info">
            <div class="alert alert-danger" v-if="errorMsg">
                {{ errorMsg }}
            </div>
            <div class="alert alert-success" v-if="successMsg">
                {{ successMsg }}
            </div>

            <!-- Displaying Redords -->
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr class="text-center text-light bg-info">
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" v-for="user in users">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phone }}</td>
                                <td><a class="text-success" @click="showEditModal=true; selectUser(user);"><i class="fas fa-edit"></i></a></td>
                                <td><a class="text-danger" @click="showDeleteModal=true; selectUser(user);"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Add New User Model -->
        <div id="overlay" v-if="showModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add New User</h5>
                        <button type="button" class="close" @click="showModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form @submit.prevent>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control form-control-lg" placeholder="Name" v-model="newUser.name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control form-control-lg" placeholder="E-mail" v-model="newUser.email">
                            </div>
                            <div class="form-group">
                                <input type="tel" name="phone" class="form-control form-control-lg" placeholder="Phone" v-model="newUser.phone">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info btn-block btn-lg" @click="showModal=false; addUser(); clearMsg();">Add User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Existing User Model -->
        <div id="overlay" v-if="showEditModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit User</h5>
                        <button type="button" class="close" @click="showEditModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <form @submit.prevent>
                            <div class="form-group">
                                <input type="text" name="name" class="form-control form-control-lg" v-model="currentUser.name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control form-control-lg" v-model="currentUser.email">
                            </div>
                            <div class="form-group">
                                <input type="tel" name="phone" class="form-control form-control-lg" v-model="currentUser.phone">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info btn-block btn-lg" @click="showEditModal=false; updateUser(); clearMsg();">Update User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

         <!-- Delete Existing User Model -->
         <div id="overlay" v-if="showDeleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete User</h5>
                        <button type="button" class="close" @click="showDeleteModal=false">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <h4 class="text-danger">Are you Sure</h4>
                        <h5>You are deleting '{{ currentUser.name }}'</h5>
                        <hr>
                        <button class="btn btn-danger" @click="showDeleteModal=false; deleteUser(); clearMsg();">Yes</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-success" @click="showDeleteModal=false">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <!-- <script src="vue2.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>